#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: white;
}

#main-form {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
}

#main-form input {
    margin-bottom: 20px;
    height: 4vh;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: none;
    width: 23vw;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    transition: 200ms;
}

#main-form input:focus {
    transform: scale(1.05);
}

#password-box {
    display: flex;
    align-items: center;
    position: relative;
}

#password-box i {
    position: absolute;
    top: 34%; right: 10px; 
    transform: translateY(-50%);
    opacity: 70%;
}

#main-form textarea {
    font-family: 'Arimo', sans-serif;
    margin-bottom: 20px;
    border-radius: 2px;
    border: none;
    height: 60px;
    resize: none;
    padding: 10px;
    outline: none;
    width: 23vw;

}


#registrar-nota {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    background-color: rgb(0, 153, 255);
    border: none;
    border-radius: 3px;
    color: white;
    transition: 200ms;
    max-width: 150px;
    height: 40px;
    width: 120px;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom a {
    font-size: 14px;
    text-decoration: underline;
}

#bottom a:hover {
    cursor: pointer;
}

#registrar-nota:hover {
    cursor: pointer;
    background-color: rgb(2, 140, 233);
}