#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    background-color: rgb(230, 230, 230);
}

textarea {
    resize: none;
    max-height: 90vh;
    width: 70vw;
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    outline: none;
    font-family: 'Arimo';
}

textarea:active {
    border: none;
}

/* Estilos de la barra de desplazamiento */
textarea::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento vertical */
  }
  
  /* Estilos del pulgar de la barra de desplazamiento */
  textarea::-webkit-scrollbar-thumb {
    background-color: #999; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del pulgar */
  }
  
  /* Estilos del track de la barra de desplazamiento */
  textarea::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del track de la barra de desplazamiento */
  }
  

#options {
    margin-bottom: 10px;
}

.option {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

option {
    border: none;
    outline: none;
}